STREAMLING__CLICKHOUSE_SINK__URL=http://127.0.0.1:8123
STREAMLING__CLICKHOUSE_SINK__USER=default
STREAMLING__CLICKHOUSE_SINK__PASSWORD=clickhouse
STREAMLING__CLICKHOUSE_SINK__DATABASE=megapot_analytics
